.sl_tabs {
	display: flex;
	flex-direction: row;
	border: none;
	margin-bottom: 0 !important;
	box-shadow: $shadow--button;

	@include breakpoint (small down) {
		flex-direction: column;
	}//end small down breakpoint

	&__container {
		margin: $spacing--xl auto;
	}//end &__container

	&__title {
		float: none;
		display: flex;
		flex: 1 1 auto;
		text-align: center;
		min-width: 125px;
		margin-bottom: 0 !important;
		border: none;

		@include breakpoint (small down) {
			display: block;
			height: 100%;
			min-width: 0;
			vertical-align: middle
		}//end small down breakpoint

		& > a {
			width: 100%;
			height: 100%;
			font-size: 1.125rem;
			color: get-color(default);
			font-family: $body-font-family;
			font-weight: $font-weight--regular;
			background-color: rgba(get-color(accent2), .45);
			border: none;
			border-radius: 0 !important;
			@include transition (all .3s ease-in-out);

			&:hover {
				background-color: get-color(accent2);
				@include transition (all .3s ease-in-out);
			}//end &:hover

			&:before {
				display: none;
			}//end &:before
		}//end & > a

		&:not(.is-active):hover {
			& > a {
			}//end & > a
		}//end &:not(.is-active:hover)

		&.is-active {
			
			& > a {
				color: get-color(primary);
				font-family: $header-font-family;
				font-weight: $font-weight--semibold;
				background-color: get-color(accent2);

				&:focus, &[aria-selected=true] {
					background-color: get-color(accent2);
				}//end &:focus, &[aria-selected=true]
			}//end & > a
		}//end &.is-active
	}//end &__title

	.sl_tabs__title.is-active:only-child {
		& > a {
		}//end & > a
	}//end &.is-active

	&__content {
		background: get-color(accent2);
		color: get-color(default);
		border: none;
	}//end &__content

	&__panel {
		background: get-color(accent2);
		padding: $spacing--md;
		border: none;
		text-align: left;

		& > :last-child {
			margin-bottom: 0;
		}//end & > :last-child
	}//end &__panel

	&.accordion {
		.sl_tabs__panel {
			padding: $spacing--sm;
			padding-top: $spacing--xs;
		}
	}
}//end .sl_tabs
