.sl_footer {
	background-color: get-color(primary);
	padding: $spacing--xxl 0;

	@include breakpoint (small down) {
		padding: $spacing--md 0;
	}//end small down breakpoint

	&__logo {
		img {
			max-width: 208px;
			width: 100%;
		}//end img

		@include breakpoint (small down) {
			text-align: center;
		}//end small down breakpoint
	}//end &__logo

	//Menu
	&__menu {

		.sl_inner {
			
		}//end .sl_inner
		
		.sl_menu {
			display: inline-block;
			margin-bottom: 0;

			& * {
				color: get-color(inverse);
			}//end & *

			& > li {
				font-weight: $font-weight--medium;
				font-size: 1.5rem;
				position: relative;
				flex: 1 1 100%;
			}//end & > li

			a {
				padding: 0;
				line-height: 1.5;
				font-size: 1.5rem;
				margin-bottom: $spacing--xs/2;
				font-weight: $font-weight--medium;

				@include breakpoint (large only) {
					font-size: 1.25rem;
				}//end large only breakpoint
			}//end a
		}//end .sl_menu

		.sl_usermenu {
			& > li {
				flex: 1 1 100%;
			}//end & > li
		}//end .sl_usermenu
	}//end &__menu

	&__navigation {
		& > .sl_row {
			justify-content: flex-end;

			@include breakpoint (small down) {
				justify-content: center;
			}//end small down breakpoint

			& > .sl_cell {
				padding: 0 $spacing--xl;
				flex: 0 1 auto;
				width: auto;

				@include breakpoint (medium only) {
					padding: 0 $spacing--md;
				}//end medium only breakpoint

				@include breakpoint (small down) {
					padding: 0;
				}//end small down breakpoint

				&:first-of-type {
					padding-left: 0;
				}//end &:first-of-type

				&:last-of-type {
					padding-right: 0;
				}//end &:last-of-type

				&:not(:last-of-type) {
					border-right: 1px solid get-color(secondary);
				}//end &:not(:last-of-type)
			}//end & > .sl_cell
		}//end & > .sl_row
	}//end &__navigation

	&__address {
		@include breakpoint (small down) {
			text-align: center;
		}//end small down breakpoint
		a {
			color: get-color(inverse) !important;
			font-size: 1.5rem;
			display: block;
			line-height: 1.8;

			@include breakpoint (large only) {
				font-size: 1.25rem;
			}//end large only breakpoint

			@include breakpoint (small down) {
				font-size: 1.125rem;
			}//end small down breakpoint
		}//end a

		p {
			font-size: 1.5rem;
			margin-bottom: 0;
			font-weight: $font-weight--medium;
			line-height: 1.8;

			@include breakpoint (large only) {
				font-size: 1.25rem;
			}//end large only breakpoint

			@include breakpoint (small down) {
				font-size: 1.125rem;
			}//end small down breakpoint
		}//end p

		.sl_phone {
			color: get-color(secondary) !important;
			font-weight: $font-weight--medium;
		}//end .sl_phone
	}//end &__address

	//Info
	&__info {
		padding-top: $spacing--md;
		
		.sl_inner {
			p {
				text-align: center;
				font-size: 1.125rem;
			}//end p

			& > * {
				color: get-color(inverse);
			}//end & > *

			a {
				color: get-color(inverse) !important;
			}//end a

			& > :last-child { margin-bottom: 0; }

			.sl_menu {
				justify-content: center;
				align-items: center;
				margin-bottom: $spacing--md;

				@include breakpoint (small down) {
					display: block;
					text-align: center;
				}//end small down breakpoint

				& * {
					color: get-color(inverse);
				}//end & *

				& > li {
					font-weight: $font-weight--medium;
					font-size: 1rem;
					position: relative;

					&:not(:last-of-type) {
						padding-right: $spacing--xs;
						margin-right: $spacing--xs/2;

						@include breakpoint (small down) {
							padding: 0;
							margin: 0;
						}//end small down breakpoint

						&:after {
							content: '|';
							position: absolute;
							right: 0;
							top: 0;
							font-weight: $font-weight--regular;

							@include breakpoint (small down) {
								display: none;
							}//end small down breakpoint
						}//end &:after
					}//end &:not(:last-of-type)
				}//end & > li

				a {
					padding: 0;
					line-height: 1.5;

					@include breakpoint (small down) {
						text-decoration: underline;
					}//end small down breakpoint
				}//end a
			}//end .sl_menu
		}//end .sl_inner
	}//end &__info

	//Social
	&__socials {
		margin-top: $spacing--sm;
		margin-bottom: $spacing--sm;
		display: flex;
		flex-direction: row;

		@include breakpoint (small down) {
			flex-direction: column;
			align-items: center;
		}//end small down breakpoint

		& > p {
			font-size: 1.25rem;
			color: get-color(inverse);
			margin-bottom: 0;

			@include breakpoint (small down) {
				margin-bottom: $spacing--xs/2;
			}//end small down breakpoint
		}//end & > p

		.sl_socials {
			.sl_cell {
				width: auto;
				padding: 0 $spacing--xs/4;
				display: flex;
				align-items: center;
			}//end .sl_cell
		}//end .sl_socials
	}//end &__socials
		

}//end .sl_footer