.sl_header {
	position: relative;
	z-index: 999;
	background-color: get-color(primary);
	max-width: none;
	
	// LARGE HEADER //
	.sl_nav {
		@include inner;
		background-color: transparent;
		position: relative;
		padding-top: 0;
		padding-bottom: 0;
		margin: 0 auto;
		align-items: stretch;

		&__left {
			flex: 0 0 100%;
			height: 100%;
			width: 100%;
			max-width: 263px;

			@include breakpoint (large only) {
				max-width: 198px;
			}//end large only breakpoint

		}//end &__left

		&__logo {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			padding: $spacing--sm 0;

			img {
				max-height: 120px;
			}
		}//end &__logo

		&__right {
			flex: 1 1 auto;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			justify-content: space-between;
		}//end &__right

		&__menu {
			& > .sl_menu {
				background-color: transparent;
				position: static;

				& > li {
					margin-bottom: 0;
					& > a {
						background-color: transparent;
						color: get-color(inverse);
						padding: $spacing--sm $spacing--sm/2;
						@include transition (.2s all ease-in-out);
						font-size: 1.5rem;
						font-weight: $font-weight--medium;
						border-radius: $border-radius;
						position: relative;

						&:hover {
							@include transition (.2s all ease-in-out);
							color: get-color(accent2);
						}//end &:hover

						@include breakpoint (large only) {
							font-size: 1.25rem;
							padding: $spacing--md $spacing--xs;
						}//end large only breakpoint
					}//end & > a

					//Mega menu hover class
					&.hover {
						& > a {
							background-color: get-color(accent1);
							&:after {
						    	@include pseudo;
								width: 0; 
								height: 0; 
								border-left: 10px solid transparent;  /* left arrow slant */
								border-right: 10px solid transparent; /* right arrow slant */
								border-bottom: 15px solid get-color(inverse); /* bottom, add background color here */
								font-size: 0;
								line-height: 0;
								bottom: 0;
								right: calc(50% - 10px);
								z-index: 11;
						    }//end &:after
						}//end a 
					}//end .hover class

					//Current Page 
					&.current_page_item, &.current_page_parent {
						& > a {
							background-color: rgba(get-color(secondary), 0.3);
							color: get-color(inverse);
							border-radius: $border-radius $border-radius 0 0;

							&:after {
								display: none
							}//end &:after
						}//end & > a
					}//end &.current_page_item

					//Has Dropdown
					&.is-dropdown-submenu-parent {
						& > a {
							&:after {
								display: none;
							}//end &:after
						}//end & > a

						&.is-active {
							& > a {
								background-color: get-color(secondary);
								color: get-color(inverse);
								border-radius: $border-radius $border-radius 0 0;
								&:after {
							    	display: none;
							    }//end &:after
							}//end a 
						}//end &.is-active
					}//end &.is-dropdown-submenu-parent

					//Dropdown Menu
					&.opens-right {
						.is-dropdown-submenu {
							background: get-color(inverse);
							border-radius: 0 0 $border-radius $border-radius;
							box-shadow: $shadow;
							min-width: 300px;
							border: none;
							padding: 0;

							& > li {
								& > a {
									font-size: 1.25rem;
									color: get-color(secondary);
									font-weight: $font-weight--medium;
									padding: $spacing--sm;
									@include transition (.2s all ease-in-out);

									@include breakpoint (large only) {
										font-size: 1rem;
										padding: $spacing--xs;
									}//end large only breakpoint

									&:hover {
										background-color: get-color(accent1);
										@include transition (.2s all ease-in-out);
									}//end &:hover
								}//end & > a

								&:not(:last-of-type) {
									border-bottom: 1px solid get-color(accent1);
								}//end &:not(:last-of-type)

								//Has Dropdown
								&.is-dropdown-submenu-parent {
									& > a {
										&:after {
											display: none;
										}//end &:after
									}//end & > a
								}//end &.is-dropdown-submenu-parent

								&.is-active {
									& > a {
										background-color: get-color(accent1);
										color: get-color(accent2);
									}//end & > a
								}//end .is-active

								&:last-of-type {
									& > a {
										&:hover {
											border-radius: 0 0 $border-radius $border-radius;
										}//end &:hover
									}//end & > a 
								}//end &:last-of-type

								//Child Dropdown Menu
								&.opens-right {
									.is-dropdown-submenu {
										border-radius: 0 $border-radius $border-radius 0;

										& > li {
											&:first-of-type {
												& > a {
													&:hover {
														border-radius: 0 $border-radius 0 0;
													}//end &:hover
												}//end & > a 
											}//end &:first-of-type

											&:last-of-type {
												& > a {
													&:hover {
														border-radius: 0 0 $border-radius 0;
													}//end &:hover
												}//end & > a 
											}//end &:last-of-type
										}//end & > li
									}//end .is-dropdown-submenu
								}//end opens-right
							}//end & > li
						}//end & > .is-dropdown-submenu
					}//end &.opens-right
				}//end & > li
			}//end .sl_menu
		}//end &__menu


		// USER NAV
		&__secondary {
			display: flex;
			align-items: center;
			background-color: get-color(inverse);
			padding-bottom: $spacing--xs/2;
			border-radius: 0 0 $border-radius $border-radius;
			padding: $spacing--xs/1.5 $spacing--md;
			margin-bottom: $spacing--xs;
			box-shadow: $shadow--header;

			& > :last-child {
				margin-right: 0;
			}//end & > :last-child
		}//end &__secondary

		// PHONE
		&__phone {
			margin-right: $spacing--md;

			@include breakpoint (large only) {
				margin-right: $spacing--sm;
			}//end large only breakpoint
			.sl_phone {
				display: flex;
				flex-direction: column;
				align-items: center;
				&__number {
					font-weight: $font-weight--medium;
					font-size: rem-calc(21px);
					color: get-color(secondary);
					line-height: 1;
				}//end &__number

				&__cta {
					font-size: rem-calc(16px);
					font-weight: $font-weight--regular;
					color: get-color(default);
					margin-bottom: 0;
				}//&__cta
			}//end .sl_phone
		}//end &__phone

		&__search {
			max-width: 150px;
			margin-right: $spacing--sm;

			@include breakpoint (large only) {
				margin-right: $spacing--sm;
			}//end large only breakpoint
			 input {
			 	margin: 0;
			 }//end input
		}//end &__search

		&__usermenu {
			.sl_menu {
				background-color: transparent;
				& > li {
					margin-bottom: 0;
					& > a {
						background-color: transparent;
						border-radius: $border-radius;
						color: get-color(default);
						padding: $spacing--xs/2;
						position: relative;
						@include transition(all .3s ease-in-out);

						@include breakpoint (large only) {
							font-size: 1rem;
						}//end large only breakpoint

						&:hover {
							background-color: rgba(get-color(inverse), .1);
						}//end &:hover
					}//end & > a
				}//end & > li
			}//end .sl_menu
		}//end &__usermenu
	}//end .sl_nav

	// MOBILE HEADER
	.sl_mobilenav {
		background: none;
		padding: $spacing--sm;
		padding-bottom: $spacing--xs;
		align-items: flex-end;

		&__left {
			flex: 0 0 100%;
			height: 100%;
			max-width: 156px;
		}//end &__left

		&__logo {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;

			img {
				max-height: 72px;
			}//end img
		}//end &__logo

		&__right {
			flex: 1 1 auto;
			display: flex;
			justify-content: flex-end;

		}//end &__right
	}//end .sl_mobilenav
}//end .sl_globalheader

//Makes sure the proper menu shows on the screen while js is loading
.no-js {
  @include breakpoint(medium down) {
    .sl_nav {
      display: none;
    }//end .sl_nav
  }//end breakpoint for medium down

  @include breakpoint(large) {
    .sl_mobilenav {
      display: none;
    }//end .sl_mobilenav
  }//end breakpoint for large
}//end .no-js