//OFF-CANVAS MENU
#sl_offcanvas {
	&.sl_mobilemenu {
		@include container;
		border-radius: 0;
		padding: $spacing--sm $spacing--xs;
	}//end &.sl_mobilemenu
}//#sl_offcanvas

.sl_mobilemenu {

	&__search {
		position: relative;
		margin-bottom: $spacing--xs;
		padding: 0 $spacing--xs;
		max-width: 200px;
		z-index: 1;
	}//end &__search

	& > .sl_menu {
		background-color: transparent;
		padding: 0 $spacing--xs;
		margin-bottom: $spacing--md;

		& > li {
			&:not(:last-of-type) {
				border-bottom: 1px solid get-color(accent2);
			}//end &:not(:last-of-type)

			& > a {
				background-color: transparent;
				color: get-color(default);
				padding: $spacing--xs 0;
				font-weight: $font-weight--medium;
			}//end & > a

			
			// SECOND LEVEL MENU //
			& > .sl_nested {
				padding: 0 0 $spacing--xs 0;

				& > li {
					margin-bottom: $spacing--xs;

					& > a {
						color: get-color(default);
						padding: 0;
					}//end & > a

					// THIRD LEVEL MENU
					& > .sl_nested {
						padding: $spacing--xs 0 0 $spacing--xs;

						& > li {
							margin-bottom: $spacing--xs/2;

							& > a {
								color: get-color(default);
								padding: 0;
								font-size: 1rem;
							}//end & > a
						}//end & > li
					}//end & > .sl_nested
				}//end & > li
			}//end & > .sl_nested
		}//end & > li

		li.is-accordion-submenu-parent > a:after {
			border: none;
			content: '\f107';
			font-family: FontAwesome;
			width: auto;
			height: auto;
			font-weight: $font-weight--bold;
			font-size: 1.125rem;
			top: calc(50% - .5625rem);
			opacity: .5;
			margin: 0;
			right: 0; 
		}//end &.is-accordion-submenu-parent > a:after


	}//end .sl_menu

	&__usermenu {
		.sl_menu {
			justify-content: flex-start;
			padding: 0 0 0 $spacing--xs;
			margin-bottom: $spacing--md;

			& > li {
				flex: 0 1 auto;
				font-size: 1rem;

				& > a {
					padding: 0 $spacing--xs/2 0 $spacing--xs/2;
					color: get-color(default);
					border-right: 1px solid get-color(default);
				}//end & a

				&:first-of-type > a{
					padding-left: 0;
				}//end &:first-of-type > a

				&:last-of-type > a {
					padding-right: 0;
					border: none;
				}//end &:last-of-type > a
			}//end & > li
		}//end .sl_menu
	}//end &__usermenu

	&__callout {
		border-radius: $border-radius;
		background-color: get-color(secondary);
		padding: $spacing--xs;

		h4{
			text-align: center;
			line-height: 1;
			color: get-color(inverse);
		}//end h4

		.sl_button {
			width: 100%;
			border: 2px solid get-color(inverse);
		}//end .sl_button

		& > :last-child {
			margin-bottom: 0;
		}//end & > :last-child
	}//end &__callout
	
	&__close {
		position: absolute;
		right: $spacing--md;
		top: $spacing--md;
		font-size: 1.125rem;
		z-index: 9999;
		color: get-color(primary);

		i {
			display: block;
		}//end i
	}//end &__close
}//end .sl_mobilemenu

//OFF CANVAS OVERLAY
.js-off-canvas-overlay {
	background: rgba(get-color(default), .25);
}