//Default Page Template
body.page-template-default {
	background-color: get-color(accent1);

	&.sl_body--intro {
		background-color: get-color(inverse);
	}//end .sl_body--intro
	.sl_content {
		.sl_intro {
			padding: $spacing--xxl 0;
			position: relative;

			&:after {
				@include pseudo;
				background-color: get-color(accent1);
				top: 0;
				bottom: 0;
				left: 0;
				right: 20%;
				border-radius: 0px 0px $border-radius * 2 0px;
				max-width: 1650px;

				@include breakpoint (small down) {
					display: none;
				}//end small down breakpoint
			}//end &:after

			p {
				font-size: 1.25rem;
			}//end p

			@include breakpoint (small down) {
				padding: 0;
				background-color: get-color(accent1);

				.sl_breadcrumbs {
					display: none;
				}//end .sl_breadcrumbs
			}//end small down breakpoint

			.sl_inner {
				@include breakpoint (small down) {
					padding: 0;
				}//end small down breakpoint
			}//end .sl_inner

			&__media {
				border-radius: $border-radius;
				overflow: hidden;

				@include breakpoint (small down) {
					order: 1;
					border-radius: 0;
				}//end small down breakpoint

				&__container {
					position: relative;
					width: 100%;
					height: 100%;
					min-height: 375px;

					@include breakpoint (small down) {
						min-height: 200px;
					}//end small down breakpoint
				}//end &__container
			}//end &__media

			&__image {
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				left: 0;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center center;
			}//end &__image

			&__content {
				display: flex;
				align-items: center;
				margin-left: auto;
				position: relative;
				z-index: 2;

				@include breakpoint (small down) {
					order: 2;
				}//end small down breakpoint

				.sl_button-group {
					justify-content: flex-start;
				}//end .sl_button-group
			}//end &__content

			p {
				font-size: 1.25rem;

				&:last-of-type {
					margin-bottom: $spacing--md;
				}//end &:last-of-type;

				&:last-child {
					margin-bottom: 0;
				}//end &:last-child
			}//end p

			@include breakpoint (small down) {
				h1 {
					margin-bottom: $spacing--xs;
				}//end h1
			}//end small down breakpoint
		}//.sl_intro

		&__intro {
			p {
				font-size: 1.25rem;
			}//end p
		}//end &__intro

		&__body {
			padding: $spacing--lg 0;

			&--narrow {
			}//end &--narrow
		}//end &__body

		&__sidebar {
			padding-left: $spacing--lg;

			@include breakpoint (large only) {
				padding-left: $spacing--sm;
			}//end large only breakpoint
		}//end &__sidebar

		&__global_cta {
			background-color: get-color(primary);
			padding: $spacing--xxl 0;

			@include breakpoint (large only) {
				padding: $spacing--xl 0;
			}//end large only breakpoint

			@include breakpoint (medium only) {
				padding: $spacing--lg 0;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				padding: $spacing--md 0;
			}//end small down breakpoint
				
			.sl_inner {
			}//end .sl_inner

			h2 {
				font-family: $body-font-family;
				font-size: rem-calc(48px);
				color: get-color(inverse);
			}//end h2

			p {
				font-size: 1.5rem;
				font-weight: $font-weight--medium;
				color: get-color(inverse);
			}//end p

			.sl_button-group {
				margin-top: $spacing--lg;

				@include breakpoint (small down) {
					margin-top: $spacing--sm;
					align-items: initial;
				}//end small down breakpoint
			}//end .sl_button-group
		}//end &__global_cta

		.sl_location {
			padding-bottom: $spacing--xxl;
			padding-top: 0;
		}
	}//end .sl_content
}//end body.default
