/*--------------------
1. Headings
2. Paragraphs
3. Lists
4. Blockquotes
5. Links
---------------------*/

body {
	color: get-color(default);
	//-----------------
	//1. HEADINGS
	//-----------------
	h1,h2,h3,h4,h5,h6 {
		color: get-color(primary);
	}//all headings

	h1 {
		font-weight: $font-weight--semibold;
	}///end h1 
	h2 {
		font-weight: $font-weight--medium;
		font-family: $body-font-family;

		@at-root .sl_module h2 {
			font-size: 3rem;
			font-family: $header-font-family;
			font-weight: $font-weight--semibold;

			@include breakpoint (medium down) {
				font-size: rem-calc(36px);
				line-height: 1.2;
			}//end medium down breakpoint
		}//end @at-root .sl_module h2
	}///end h2
	h3 {
		font-family: $body-font-family;
		font-weight: $font-weight--medium;
	}///end h3
	h4 {
		color: get-color(secondary);
		font-family: $body-font-family;
		font-weight: $font-weight--medium;
	}///end h4 
	h5 {

	}///end h5 
	h6 {

	}///end h6

	//-----------------
	//END HEADINGS
	//-----------------

	//-----------------
	//2. PARAGRAPHS
	//-----------------

	p {
		font-size: $font-size--regular;
		margin-bottom: $spacing--sm;

		@include breakpoint (small down) {
			margin-bottom: $spacing--xs;
		}//end small down breakpoint
	}//end p

	//-----------------
	//END PARAGRAPHS
	//-----------------

	//-----------------
	//3. LISTS
	//-----------------

	ul, ol, li {
		font-size: $font-size--regular;
	}

	ul {
		margin-bottom: $spacing--sm;
	}

	.sl_content {
		ul {
			li {
				&:not(:last-of-type) {
					margin-bottom: $spacing--xs;
				}//end &:not(last-of-type)
			}//end li

			&.sl_list {
				list-style: none;
				margin: 0 0 $spacing--sm $spacing--xs + rem-calc(8px);

				li {
					&:not(:last-of-type){
						margin-bottom: $spacing--xs;
					}//end &:not(:last-of-type)

					&:before {
						content: '';
						display: inline-block;
						margin-right: $spacing--xs;
						margin-left: -$spacing--xs - rem-calc(8px);
						background-color: get-color(secondary);
						background-repeat: no-repeat;
						width: 8px;
						height: 8px;
						border-radius: $border-radius--circle;
					}//end &:before
				}//end li

				&--primary {
					@extend .sl_list;

					li {
						&:before {
							background-color: get-color(primary);
						}//end &:before
					}//end li
				}//end &--primary

			}//end &.sl_list
		}//end ul
	}//end .sl_content

	ol {
		margin-bottom: $spacing--sm;
		li {
			&:not(:last-of-type) {
				margin-bottom: $spacing--xs;
			}//end &:not(:last-of-type)
		}//end li
	}//end ol

	//-----------------
	//END LISTS
	//-----------------

	//-----------------
	// 4. BLOCKQUOTES
	//-----------------
		blockquote {

			p {

			}//end p

			cite {

			}//end cite
		}//end blockquote
	//-----------------
	//END BLOCKQUOTES
	//-----------------

	//-----------------
	// 5. LINKS
	//-----------------
		.sl_main {
			a {
				&:not([class]) {
					color: get-color(secondary);
					font-weight: $font-weight--semibold;

					&:hover {
						color: get-color(primary);
					}//end &:hover
				}//end &:not([class])
			}//end a
		}//end .sl_main
	//-----------------
	//END LINKS
	//-----------------
}//end body