{% extends "module.twig" %}

{% block card %}
    
    {# HEADER #}
    {% if module.header %}
        <h2>{{module.header}}</h2>
    {% endif %}

    {# STAFF #}
    {% for staff in Post(module.staff) %}
        <div class="sl_row">
            <div class="sl_cell sl_staff__image">
                <div class="sl_staff__image__container" style="background-image:url({{ staff.thumbnail.src() }})"></div>{# /.sl_staff__image #}
            </div>
            <div class="sl_cell medium-auto sl_staff__content">
                <h3>{{staff.first_name}} {{staff.last_name}}{% if staff.certifications %}, {{staff.certifications}}{% endif %}</h3>
                <h4>{{staff.staff_title}}</h4>
                {{staff.content|wpautop}}
            </div>
        </div>
    {% endfor %}


{% endblock %}
