{# All other modules #}
<div class="sl_module sl_module--{{this.acf_fc_layout}} sl_{{this.acf_fc_layout}} {% if module.type_select %}sl_{{this.acf_fc_layout}}--{{module.type_select}}{% endif %} {{this.class}}

{# Duo Logic #}
{% if module.media_position == "right" %}sl_duo--right{% endif %}"

{# Billboard Logic #}
{% if module.billboard_image.large %}style="background-image: url({{Image(module.billboard_image.large).src}})"{% endif %}>
	<div class="sl_billboard__background hide-for-medium" {% if module.billboard_image.small %}style="background-image: url({{Image(module.billboard_image.small).src}})" {% elseif module.billboard_image.large %}style="background-image: url({{Image(module.billboard_image.large).src}})" {% endif %}>
	</div>
	<div class="sl_inner">
		{% block card %}
			{% include "card.twig" %}
		{% endblock %}
	</div>{# /.inner #}
</div>{# /.module #}

 

