{% if option.address %}
	<div class="sl_row sl_footer__address">

		<div class="sl_cell">
			<a href="https://www.google.com/maps/place/{{option.address.street_address}}, {{option.address.city}}, {{option.address.state}} {{option.address.zip_code}}" target="_blank" rel="noreferrer">
			<p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
				{% if option.address.location_name %}{{ option.address.location_name }}<br>{% endif %}
			    <span itemprop="streetAddress">{{option.address.street_address}}</span><br>
			    <span itemprop="addressLocality">{{option.address.city}}, {{option.address.state}}</span> 
			    <span itemprop="postalCode">{{option.address.zip_code}}</span><br>
			</p>
			</a>
            <a class="InfinityNumber sl_phone" href="tel:{{option.phone.main}}" style="white-space:nowrap;">{{option.phone.main}}</a>
		</div>{# /.sl_cell #}

	</div>{# /.sl_row sl_footer__address #}
{% endif %} 