{% if option.logos %}

	{# LOOP THROUGH LOGOS #}
	{% for logo in option.logos %}
	<div class="sl_cell sl_footer__logo">
		<img src="{{ Image(logo.logo).src }}">
	</div>{# /.sl_cell #}
	{% endfor %}
	
{% endif %} 