.sl_deck {
	.sl_inner {
		@include innerpadding($p-xsmall: $spacing--xs, $p-small: $spacing--sm, $p-medium: $spacing--md, $p-large: $spacing--lg - $spacing--md/2, $p-xlarge: $spacing--xl - $spacing--md/2,$p-xxlarge: $spacing--xxl - $spacing--md/2);
		& > h2 {
			padding-left: $spacing--md/2;
		}//end & > h2

		.sl_cell {
			padding: 0 $spacing--md/2;
			margin-bottom: $spacing--md;

			@include breakpoint (small down) {
				padding: 0;
			}//end small down breakpoint
		}//end .sl_cell
	}//end .sl_inner

	&__header {
		padding: 0 $spacing--md/2;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		margin-bottom: $spacing--lg;

		@include breakpoint (small down) {
			padding: 0;
			justify-content: space-between;
		}//end small down breakpoint

		h2 {
			margin-bottom: 0;
		}//end h2

		.sl_button {
			margin-left: $spacing--md;
			margin-bottom: 0;

			@include breakpoint (small down) {
				margin-left: 0;
				text-align: right;
				flex: 1 1 auto;
			}//end small down breakpoint
		}//end .sl_button
	}//end &__header
}//end .sl_deck