.sl_location {

	& > .sl_inner {

		& > .sl_row {
			background-color: get-color(inverse);
			border-radius: $border-radius;
			box-shadow: $shadow;
			overflow: hidden;
		}//end & > .sl_row
	}//end & > .sl_inner

	&__content {
		padding-right: $spacing--xxl;

		p {
			font-size: rem-calc(26px);
			font-weight: $font-weight--medium;

			@include breakpoint (small down) {
				font-size: 1.25rem;
			}//end small down breakpoint
		}//end p
	}//end &__content

	&__facility {
		font-size: 2rem;
		line-height: 1.15;

		@include breakpoint (small down) {
			font-size: 1.5rem;
		}//end small down breakpoint
	}//end &__facility

	.sl_module__map {
		height: 100%;
		min-height: 350px;

		@include breakpoint (small down) {
			min-height: 300px;
		}//end small down breakpoint
	}//end .sl_module__map

	&--inverse {
		& > .sl_inner {

			& > .sl_row {
				background-color: get-color(inverse);
			}//end & > .sl_row
		}//end & > .sl_inner

		.sl_location__content {

			p {
				color: get-color(default);
			}//end p
		}//end &__content
	}//end &--inverse
	
}//end .sl_location