.sl_spotlight {
	background-color: get-color(primary);
	padding-bottom: $spacing--xxl;

	@include breakpoint (large only) {
		padding-bottom: $spacing--xl;
	}//end large only breakpoint

	@include breakpoint (medium only) {
		padding-bottom: $spacing--lg;
	}//end medium only breakpoint

	@include breakpoint (small down) {
		padding-bottom: $spacing--md;
	}//end small down breakpoint
		
	.sl_inner {
	}//end .sl_inner

	h2 {
		color: get-color(inverse);
		font-family: $body-font-family;
		font-weight: $font-weight--medium;
	}//end h2

	p {
		font-weight: $font-weight--medium;
		font-size: 1.5rem;
		color: get-color(inverse);
	}//end p

	.sl_button-group {
		margin-top: $spacing--md;

		@include breakpoint (small down) {
			margin-top: $spacing--sm;
			align-items: initial;
		}//end small down breakpoint
	}//end .sl_button-group

}//end .sl_spotlight