.sl_staff {

	&:last-of-type {
		&:before {
			bottom: $spacing--xxl + $spacing--xxl;
		}//end &:before
	}//end &:last-of-type

	& > .sl_inner {
		& > .sl_row {
			&:not(:last-of-type) {
				margin-bottom: $spacing--lg;
			}//end &:not(:last-of-type)
		}//end & > .sl_row
	}//end & > .sl_inner

	&__image {
		width: 275px;
		height: 275px;
		border-radius: $border-radius;
		overflow: hidden;
		position: relative;

		@include breakpoint (medium only) {
			width: 225px;
			height: 225px;
		}//end medium only breakpoint

		@include breakpoint (small down) {
			margin: 0 auto $spacing--sm;
		}//end small down breakpoint
		
		&__container {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-size: cover;
			background-position: top center;
			background-repeat: no-repeat;
		}//end &__container
	}//end &__image

	&__content {
		padding-left: $spacing--lg;

		@include breakpoint (large only) {
			padding-left: $spacing--md;
		}//end large only breakpoint

		@include breakpoint (medium only) {
			padding-left: $spacing--sm;
		}//end medium only breakpoint

		@include breakpoint (small down) {
			padding-left: 0
		}//end small down breakpoint
	}//end &__content

	h3 {
		font-size: 2rem;
		margin-bottom: $spacing--xs/2;

		@include breakpoint (small down) {
			font-size: 1.5rem;
		}//end small down breakpoint
	}//end h3

	h4 {
		font-size: 1.25rem;
		margin-bottom: $spacing--sm;

		@include breakpoint (small down) {
			font-size: 1.125rem;
			margin-bottom: $spacing--xs;
		}//end small down breakpoint
	}//end h4
}//end .sl_staff