.sl_wysiwyg {
	.sl_inner {
	}//end .sl_inner

	&--contained {
		.sl_card {
			border-radius: $border-radius;
			box-shadow: $shadow;
			background-color: get-color(inverse);
			padding: $spacing--lg;

			@include breakpoint (small down) {
				padding: $spacing--sm;
			}//end small down breakpoint
		}//end .sl_card
	}//end &--contained
}//end .sl_wysiwyg